<div class="panel panel-info">
    <div class="panel-heading"><h2>Adicionar Curso</h2></div>
    <div class="panel-body">
      
  <form class="form-horizontal" #f="ngForm" (ngSubmit)="adicionarCurso(f)" >
      <div class="form-group">
        <label for="nome" class="col-sm-4 control-label"><h3>Curso: </h3></label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="nome" name="nome" placeholder="Java POO" [value]="nome" (input)="nome = $event.target.value">
        </div>
      </div>
      <div class="form-group">
        <label for="duracao" class="col-sm-4 control-label"><h3>Duração: </h3></label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="duracao" name="duracao" placeholder="20 hrs" [value]="duracao" (input)="duracao = $event.target.value">
        </div>
      </div>
     
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
         <button type="submit" class="btn btn-primary"><h3>Adicionar</h3></button>
        </div>
      </div>
    </form>
    </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading"><h2>Lista de Cursos</h2></div>
      <div class="panel-body">
        <div class="table-responsive">
        <h3>
          <table class="table">
              <tr class="active">
                <td>Id</td>
                <td>Curso</td>
                <td>Duração</td>
                <td width="100"></td>              
                <td width="100"></td>
              </tr>
  
              <tr *ngFor="let curso of cursos" >
                  <td><input type="text" value="{{ curso.id }}"disabled></td>
                  <td><input type="text" value="{{ curso.nome }}" ></td>
                  <td><input type="text" value="{{ curso.duracao }}" ></td>
                  <td><button class="btn btn-info"><h3>Alterar</h3></button></td>              
                  <td><button class="btn btn-danger" (click)="deleteCurso(curso.id)"><h3>Excluir</h3></button></td>
              </tr>
              
            </table>
          </h3>
          </div>
      </div>
    </div>
  
