<!--<div class="panel panel-default">
    <div class="panel-heading"><h2>Lista de Cursos</h2></div>
    <div class="panel-body">
      <div class="table-responsive">
      <h3>
        <table class="table">
            <tr class="active">
              <td>Id</td>
              <td>Curso</td>
              <td>Duração</td>
              <td width="100"></td>              
              <td width="100"></td>
            </tr>

            <tr *ngFor="let curso of cursos" >
                <td><input type="text" value="{{ curso.id }}" disabled></td>
                <td><input type="text" value="{{ curso.nome }}" ></td>
                <td><input type="text" value="{{ curso.duracao }}" ></td>
                <td><button class="btn btn-info"><h3>Alterar</h3></button></td>              
                <td><button class="btn btn-danger"><h3>Excluir</h3></button></td>
            </tr>
            
          </table>
        </h3>
        </div>
    </div>
  </div-->
